.jumbotron
  h1= title
  if (!user)
    p= desc
  else
    p You are currently logged in as #{user.username}

  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href="/") Home
    if (!user)
      li.nav-item
        a.nav-link(href="/login") Login
    if (user)
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown" href="/products") Product
        .dropdown-menu
          a.dropdown-item(href="/product/new") New
          a.dropdown-item(href="/product/list") List
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown" href="/devices") Device
        .dropdown-menu
          a.dropdown-item(href="/device/new") New
          a.dropdown-item(href="/device/list") List
      li.nav-item
        a.nav-link(href="/logout") Logout