.jumbotron
  h1= title
  p= desc

  ul.nav
    li.nav-item
      a.nav-link(href="/") Home
    li.nav-item
      a.nav-link(href="/products") Product
    li.nav-item
      a.nav-link(href="/devices") Device
    li.nav-item
      a.nav-link(href="/admin/list") Admin
    li.nav-item
      a.nav-link(href="/admin/new") New