script(src="/socket.io/socket.io.js")
script.
  $(function(){
    $('#mySwitch input').bootstrapSwitch();
    $('#mySwitch').on('switchChange.bootstrapSwitch', function(event, state) {
      var id = $(event.target).data('id')
      console.log(id, state); // true | false
    $.ajax({
      type: 'POST',
      url: '/device/report/operation/' + id + '?power='+state
    })
    .done(function(results){
      if(results.success === 1){
        console.log('ok');
      }
    });
    });
    $("#btnStandBy").click(function(event) {
      var timeout;
      if (inputStandbyTime.value < 10) {
        timeout = 10;
      } else {
        timeout = inputStandbyTime.value;
      }
      console.log(timeout);
      var id = $(event.target).data('id')
      $.ajax({
      type: 'POST',
      url: '/device/report/configuration/' + id + '?standby='+timeout
      })
      .done(function(results){
        if(results.success === 1){
          console.log('ok');
        }
      });
    });
    var ex1Slider = $("#ex1").bootstrapSlider();
    $("#ex1").on("slide", function(e) {
      $("#ex1SliderVal").text(e.value);
    });
    var ex2Slider = $("#ex2").bootstrapSlider();
    $("#ex2").on("slide", function(e) {
      $("#ex2SliderVal").text(e.value);
    });
    var ex3Slider = $("#ex3").bootstrapSlider();
    $("#ex3").on("slide", function(e) {
      $("#ex3SliderVal").text(e.value);
    });
    var ex4Slider = $("#ex4").bootstrapSlider();
    $("#ex4").on("slide", function(e) {
      $("#ex4SliderVal").text(e.value);
    });
    $("#btnCappuccino").click(function(event) {
      console.log(ex1Slider.bootstrapSlider('getValue'), 
                  ex2Slider.bootstrapSlider('getValue'), 
                  ex3Slider.bootstrapSlider('getValue'), 
                  ex4Slider.bootstrapSlider('getValue'));
      var id = $(event.target).data('id')
      $.ajax({
      type: 'POST',
      url: '/device/report/configuration/' + id + '?cappuccino='
        + ex1Slider.bootstrapSlider('getValue') + ',' 
        + ex2Slider.bootstrapSlider('getValue') + ',' 
        + ex3Slider.bootstrapSlider('getValue') + ',' 
        + ex4Slider.bootstrapSlider('getValue')
      })
      .done(function(results){
        if(results.success === 1){
          console.log('ok');
        }
      });
    });
    var ex5Slider = $("#ex5").bootstrapSlider();
    $("#ex5").on("slide", function(e) {
      $("#ex5SliderVal").text(e.value);
    });
    var ex6Slider = $("#ex6").bootstrapSlider();
    $("#ex6").on("slide", function(e) {
      $("#ex6SliderVal").text(e.value);
    });
    $("#btnCustom").click(function(event) {
      console.log(ex5Slider.bootstrapSlider('getValue'), 
                  ex6Slider.bootstrapSlider('getValue'));
      var id = $(event.target).data('id')
      $.ajax({
      type: 'POST',
      url: '/device/report/operation/' + id + '?custom='
        + ex5Slider.bootstrapSlider('getValue') + ',' 
        + ex6Slider.bootstrapSlider('getValue')
      })
      .done(function(results){
        if(results.success === 1){
          console.log('ok');
        }
      });
    });
  });
  const socket = io();
  socket.on('data', function(obj) {
    location.reload();
  });