script(src="/socket.io/socket.io.js")
script.
  $(function(){
    $('#mySwitch input').bootstrapSwitch();
    $('#mySwitch').on('switchChange.bootstrapSwitch', function(event, state) {
      var id = $(event.target).data('id')
      console.log(id, state); // true | false
    $.ajax({
      type: 'PUT',
      url: '/device/cmd/' + id + '?poweron='+state
    })
    .done(function(results){
      if(results.success === 1){
        console.log('ok');
      }
    });
  });
  });
  const socket = io();
  socket.on('data', function(obj) {
    location.reload();
  });