extends layout

block content
    h2 #{title}
    .container
      ul
        each device in devices
          a(href="/devices/" + device._id + "?pageNo=0&pageSize=15")
            li= device.nodeName 