extends layout

block content
    .container
      h2 #{title} - TotalRecord: #{count}
      form(class="form-horizontal" action="/devices/cmd/" + id, method="post")
        fieldset
          select(class="form-control" name="Func")
            option(value="Power_On") Machine_ON
            option(value="Power_Off") Machine_OFF
          input(type="submit", class="btn .btn-lg btn-link" value="Send Command")
      ul
        each item in data
            li #{item.timestamp} - #{Buffer.from(item.data.DATA, "base64")}