doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    script(src="/socket.io/socket.io.js")
    script const socket = io('http://localhost');
    block content
