extends ../layout

block content
  .container
    .row
      .col-md-3
        p.text-center IMEI: #{device.nodeId}
        img.card-img-top(src="/img/DeltaCafe.png", alt="item.nodeName")
        button.btn.btn-outline-primary.btn-block(type="button", data-toggle="modal", data-target="#myModal") Configuration
        button.btn.btn-outline-primary.btn-block(type="button", data-toggle="modal", data-target="#myModal") Operation
        .modal.fade#myModal
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                h4.modal-title "头部"
                button.close(type="button", data-dismiss="modal") &times;
              .modal-body
                p 内容
              .modal-footer
                button.btn.btn-secondary(type="button", data-dismiss="modal") 关闭
      .col-md-2
        .list-group
          a.list-group-item.list-group-item-action(href="?method=keep-alive") Keep Alive
          a.list-group-item.list-group-item-action(href="?method=machine-operating") Machine Operation
          a.list-group-item.list-group-item-action(href="?method=error-reporting") Error Reporting
      .col-md-7
        .card
          .card-body
            each item in data
              p= item
        ul.pagination
          li.page-item
            a.page-link(href="#") Pervious
          li.page-item
            a.page-link(href="#") 1
          li.page-item
            a.page-link(href="#") 2
          li.page-item
            a.page-link(href="#") Next