extends ../layout

block content
  .container
    .row
      .col-md-4
        .card
          img.card-img-top(src="/img/AlphaSmoke.png", alt="item.nodeName")
          .card-body
            .card-title
              p.text-center.text-success= device.status
            .form-group.text-center
              .switch.switch-mini#mySwitch
                input.form-control#inputSwitch(type='checkbox' checked data-on-text='ON' data-off-text='OFF' name='operation[power]')
      .col-md-8
        .row
          .col-md-3
            //- button.btn.btn-outline-primary.btn-block(type="button", data-toggle="modal", data-target="#confModal") Configuration
          .col-md-3
            //- button.btn.btn-outline-primary.btn-block(type="button", data-toggle="modal", data-target="#operModal") Operation
            form.form-horizontal(action="/device/cmd/" + device._id, role="form", method="POST" onsubmit="return")
              .modal.fade#confModal
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header
                      h4.modal-title Configuration
                      button.close(type="button", data-dismiss="modal") &times;
                    .modal-body
                      .form-group
                        label(for='inputStandbyTime') Setting standby time (timeout in seconds) 
                        input.form-control#inputStandbyTime(type='number', name="configuration[standbyTime]")
                    .modal-body
                      .form-group
                        label(for='inputWater') Setting coffee button
                        select.form-control#inputWater(name='configuration[buttonId]')
                          option(value="0x00") Small coffee
                          option(value="0x01") Medium coffee
                          option(value="0x02") Large coffee
                          option(value="0x03") Tea
                          option(value="0x04") Espresso
                          option(value="0x05") Cappuccino
                        label(for='inputWater') Water (quantity in ml)
                        input.form-control#inputWater(type='number', name="configuration[water]")
                        label(for='inputSteam') Steam (duration in seconds)
                        input.form-control#inputWater(type='number', name="configuration[steam]")
                    .modal-footer
                      button.btn.btn-primary(type="submit") Submit
                      button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
              .modal.fade#operModal
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header
                      h4.modal-title Operation
                      button.close(type="button", data-dismiss="modal") &times;

                    .modal-body
                      .form-group
                        label(for='inputWater') Coffee Drawing
                        select.form-control#inputWater(name='configuration[buttonId]')
                          option(value="0x00") Custom coffee
                          option(value="0x03") Tea
                          option(value="0x04") Espresso
                          option(value="0x05") Cappuccino
                        label(for='inputWaterUsage') Water (Usage in ml)
                        input.form-control#inputWaterUsage(type='number' name='operation[waterUsage]')
                        label(for='inputTemperature') Temperature (optional)
                        input.form-control#inputTemperature(type='number' name='operation[temperature')
                    .modal-footer
                      button.btn.btn-primary(type="submit") Submit
                      button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
        .row
          .col-md-3
            .list-group
              a.list-group-item.list-group-item-action(href="?method=keep-alive") Keep Alive
              a.list-group-item.list-group-item-action(href="?method=machine-operating") Machine Operation
              a.list-group-item.list-group-item-action(href="?method=error-reporting") Error Reporting
          .col-md-9
            each item in records
              p #{item.data}
            //- - var n = 0;
            //- ul.pagination
            //-   while n < total / 10
            //-     li.page-item
            //-       a.page-link(href="?pageNo=" + n)= n++