extends ../layout

block content
  .container
    .row
      each item in devices
        .col-md-4
          .card
            a.card-img-top(href="/devices/" + item._id)
              img(src="/img/AlphaSmoke.png", alt="item.nodeName")
            .card-body
              h4.card-title= item.nodeName
              p.card-text.text-success= item.status
              pre.card-text
                | IMEI: #{item.nodeId} 
                | Last Updated: #{moment(item.meta.updatedAt).format('YYYY/MM/DD HH:mm:ss')}
              a.btn.btn-primary(href="/devices/" + item._id) See Profile