extends ../layout

block content
  .container
    .row
      .col-md-6
        form(action="/register", role="form", method="POST")
          if (message)
            p.alert.alert-info #{message}
          if (error)
            p.alert.alert-danger #{error}
          .form-group
            label(for='username') Username:
            input.form-control#username(type='text' name='username' placeholder="Please input your name" required)
          .form-group
            label(for='password') Password:
            input.form-control#password(type="password" name='password' placeholder="Please input password" required)
          .form-group
            label(for='password-repeat') Confirm Password:
            input.form-control#password-repeat(type="password",name='password-repeat' placeholder="Please input password again" required)
          button.btn.btn-primary(type="submit") Register