extends ../layout

block content
  .container
    .row
      .col-md-4
        form
          .form-group
            label(for='email') Username:
            input.form-control(type='text',name='email')
          .form-group
            label(for='pwd') Password:
            input.form-control(type="password",name='pwd')
          .form-group
            label(for='pwd') Confirm Password:
            input.form-control(type="password",name='password-repeat')
          button.btn.btn-primary(type="submit") Signup